<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{site.baseurl}}/assets/css/layout.css" />
        {% include mathjax.html %}
        <title>{{page.title}}</title>
    </head>
    <body>
        {% include navigation.html %}
        <div class="container">
            <div class="content">
                {{content}}
            </div>
        </div>
    </body>
</html>